
.img1{
    width: 100px;
    padding-top: 20px;
    padding-left: 20px;
}
.link li{
    display: inline;
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
    padding-right: 20px;
    
}
.link-box{
    margin-left: 1000px;
    margin-top: -40px;
    margin-bottom: 100px;
}
.di1{
    padding-left: 20px;
}
.in1{
    padding-left:12px ;
    padding-top: 10px;
    padding-right: 80px;
    margin-right: 10px;
}
.but1{
    padding: 5px 30px;
    position: relative;
    top: -5px;
    color: white;
    background-color: hsl(224, 93%, 58%) ;
}
.di2{
}
.img2{
    width: 650px;
    margin-left: 620px;
    top: -270px;
    position: relative;
}
.di3{
    padding-left: 20px;
}
.pi3{
    text-decoration-line: underline;
    color: hsl(170, 45%, 43%);
}
.dd3{
    margin-top:-100px;
}
.img3a{
    width: 1340px;
}

.dc3{
    background-color: hsl(240, 75%, 98%);
    margin-top: -40px;
    padding-bottom: 150px;
    padding-top: 100px;
}
.di4{
    border: 2px solid white;
max-width: 300px;
padding-left: 20px;
padding-right:20px ;
padding-top: 20px;
max-height: 150px;
margin-left: 20px;
margin-top: 50px;
border-radius: 6px ;
background-color: white;
padding-bottom: 20px;
}
.img3{
    width: 40px;
    padding-top: 10px;
    position: relative;
    border-radius: 50%;
    
}
.img4{
    float: right;
    width: 550px;
    top: -400px;
    position: relative;
    margin-right: 100px;
}
.pp4{
    font-size: 8px;
    margin-top: -20px;
}
.da1{
    padding-left: 50px;
    margin-top: -50px;
}
.dd6{
    padding-left: 20px;
    padding-top: 100px;

    
}
.dd7{
    margin-left: 800px;
    top: -200px;
    position: relative;
    padding-top: 100px;

}
.in2{
    padding-left:12px ;
    padding-top: 10px;
    padding-right: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.but2{
    padding: 5px 30px;
    position: relative;
    top: -5px;
    color: white;
    background-color: hsl(224, 93%, 58%) ;
}
.ot1{
    background-color:  hsl(238, 22%, 44%)
    ;

}
.img6{
    width: 100px;
    padding-top: 100px;
    padding-left: 40px;
    
}
.dca{
    display: flex;
    justify-content: space-around;
}
.lest li{
    list-style: none;
    padding-right: 250px;
}
.sef{
    background-color:hsl(243, 87%, 12%) ;
    color: white;
}

















